body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: hsl(227, 76%, 31%);
    width: 100%;
    height: 1000px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: 400;
    font-size: 10px;
}


@font-face { 
    font-family: "HelveticaNeueCyr", sans-serif; 
    src: url('/fonts/Intro-Regular.otf') format('otf');
    font-weight: 400; 
    font-style: normal; 
}

@font-face { 
    font-family: "HelveticaNeueCyr", sans-serif; 
    src: url('/fonts/Intro-Regular.otf') format('otf');
    font-weight: 400; 
    font-style: normal; 
}

@font-face { 
    font-family: "HelveticaNeueCyrBold", sans-serif; 
    src: url('/fonts/Intro-Bold.otf') format('otf');
    font-weight: 700; 
    font-style: normal; 
}

h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.p3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
p {
    font-size: 1.01rem;
    color: #000;
}

.h4-1 {
    font-size: 1.01rem;
}

h3 {
    font-size: 1.25rem;
}

.fr8 {
    flex-direction: column;
}
a {
    color: hsl(227, 76%, 31%);
    text-decoration: none;
    font-weight: 900;
}

a:hover {
    color: #001321;
    transition: all 0.3s ease-in;
}

.hr1 {
    height: 100%;
    background-image: url(../img/bgp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.flex {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.cwdh {
    
    padding: 50px 100px 50px 100px;
}


.a3{
    display: flex;
    align-items: center;
}

.cnt3 {
    text-align: right;
}

.img3 {
    margin: 0 auto;
    display: block;
}

.sp3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #11328d;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.a4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: "HelveticaNeueCyrBold", sans-serif; 
}

.a2-1 {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "HelveticaNeueCyrBold", sans-serif; 
}

.p6{
    text-align: center;
}
.p6-a:hover{
    transition: all 0.3s ease;
    color: #000;
}

.sp2 {
    color: #001321;
    font-weight: 700;
}

.li-5::marker {
    font-size: 1.5rem;
}

.li-1 {
    flex: 1 1 25%;
    width: 100%;
}

.hp3 {
    margin: 2.4rem 0 0;
    text-align: center;
}

.img4 {
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.p8 {
    color: #11328d;
    margin-top: -4px;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    flex-wrap: wrap;
    font-size: 1.01rem;
    align-items: baseline;
}

.ul-1 {
    margin-left: -38px;
}

.menu-btn {
    display: none;
}

.hp4 {
    padding: 20px;
}

.fr6-1 svg {
    width: 35px;
    height: 35px;
    margin: 0px auto;
    display: block;
    padding-top: 5px;
}

.fr6 {
    justify-content: start;
}

.fr6-2 svg{
    width: 35px;
    height: 35px;
    margin: 0px auto;
    display: block;
    padding-top: 5px;
}

.p1 {
    color: #11328d;
    width: 240px;
    font-size: 1.1rem;
}

.a1 {
    font-weight: 400;
    font-size: 1.3rem;
}

.hp7 {
    width: 20%;
}

.p4 {
    color: #000;
    width: 90%;
    font-size: 1.05rem;
}

.p6 {
    font-size: 1.4rem;
    color: #11328d;
}

.p6-a {
    font-size: 1.15rem;
    font-weight: 400;
}

.hp6 {
    border-radius: 30px;
    border: 1px solid #11328d;
    padding: 10px 20px;
    width: 60%;
}

.h2-1 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.fr7 {
    display: block;
    text-align: center;
}

.hp5 {
    align-items: flex-start;
    justify-content: space-between;
}

.btn-reset {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.fr1 {
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    height: 209px;
}

.fr2 {
    border: 1px solid hsl(227, 76%, 31%);
    border-radius: 30px;
    font-size: 1.8rem;
    max-width: 500px;
    position: absolute;
    background: white;
    display: flex;
    justify-content: space-between;
    text-align: left;
    left: 0;
}

.fr4 {
    padding-left: 20px;
}

.sp4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: -1rem 0 0.6rem;
    color: #000;
}

.hp10 {
    line-height: 1.5;
    margin: 0.6rem 0 1rem;
    color: #000;
}

.hp9 {
    height: 150px;
    margin-top: 30px;
    padding: 20px;
    background-color: #dff3ff;
    border-radius: 15px;
}
.sp1 {
    color: #11328d;
    font-weight: 700;
}

.hp8 {
    background-color: #dff3ff;
    border-radius: 15px;
    padding: 20px;
}

.b1::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: block;
    margin: 0 auto;
    height: 0.45em;
    width: 0.45em;
    transform: rotate(135deg);
}

.img2 {
    vertical-align: sub;
}

.img2-1 {
    vertical-align: sub;
}

.b1:hover {
    color: royalblue;
    transition: 0.3s ease-in all;
}

.fr3 {
    text-align: right;
    flex-grow: 1;
}

.a2 {
    font-size: 1.3rem;
    font-family: "HelveticaNeueCyrBold", sans-serif; 
}

.p2 {
    font-size: 0.9rem;
}
.fr3-1 {
    order: 1;
    width: 209px;
    
}

.a4-1 {
    display: block;
    flex: 1;
    text-align: right;
}

.fr6-1 {
    margin-top: 10px;
    background-color: #11328d;
    background-size: cover;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.fr6-2 {
    margin-top: 10px;
    background-color: #11328d;
    background-size: cover;
    border-radius: 100px;
    width: 50px;
    margin-left: 20px;
    height: 50px;
}

.fr5 {
    margin-top: 10px;
}

.hp1 {
    margin-top: -20px;
    background: rgb(223, 243, 255, 0.5);
}

.fr1-1 {
    background-image: url(/img/bg-f.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    margin-top: 117px;
}

.cw {
    margin: 0 100px 0 100px;

}

.a3--modify {
    display: none;
}

.a9 {
    font-size: 1.6rem;
}

.fa {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 5px;
}

.far {
    display: inline-block;
    margin-top: 5px;
    font-size: 1.2rem;
    margin-right: 5px;
}

.fa-phone:before {
    content: "\f095";
    margin-right: 5px;
}    

.fa-envelope:before {
    margin-right: 5px;
}

/*Media*/
@media (max-width: 1024px) {
    .hp5 {
        flex-direction: column;
    }

    .a2 {
        font-size: 0.8rem;
    }

    .fr1 {
        justify-content: center;
    }

    .p8 {
        color: #11328d;
        margin-top: 0; 
        font-size: 1rem;
    }



    .hp6 {
        width: 100%;
    }

    .hp7 {
        width: 60%;
        margin: 30px auto;
    }

    .fr2 {
        position: static;
        
    }
}


@media (max-width: 768px) {
    .hp6 {
        width: 88%;
    }

    .fr5 {
        display: flex;
        flex-direction: column;
    }

    .a3 {
        display: none;
    }

    .sp4 {
        font-size: 1.2rem;
    }

    .cnt3 {
        text-align: center; 
        margin: 10rem auto;
    }

    .a3--modify {
        display: block;
        margin-bottom: 50px;
    }

    .fr3-1 {
        display: none;
    }

    .fr2 {
        padding: 2rem 1rem 2rem;
        margin: 30px auto;
        flex-direction: column;
        text-align: center;
        margin-top: 742px;
    }

    .fr1-1 {
        margin-top: 0;
        height: 700px;
    }

    .cwdh {
        padding: 50px 40px 50px 40px;
    }

    .fr1 {
        height: 0;
        margin-top: 0;
    }
    
    .fr6 {
        justify-content: center;
    }
    
    .a4-1 {
        text-align: center;
    }

    .p1 {
        display: none;
    }

    .a4 {
        justify-content: center;
    }

    .img6 {
        display: block;
        width: 178px;
        margin: 10px auto;
    }

    .fr3 {
        margin-top: 30px;
        text-align: center;
    }

    .a3 {
        justify-content: center;
        margin-top: 100px;
        padding: 0 0 50px;    
    }

    .img1 {
        margin: 0 auto;
    }

    .li-1 {
        flex: 1 1 34%;
    }

    .hr3 {
        display: none;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 99999;
    }

    .menu-btn-burger {
        width: 50px;
        height: 6px;
        background-color: #001321;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: "";
        width: 50px;
        position: absolute;
        height: 6px;
        background-color: #001321;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .menu-btn-burger::before {
        transform: translateY(-16px);
    }

    .menu-btn-burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn-burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .active {
        z-index: 10;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 100%;
        height: 50vh;
        text-align: center;
        background-color: #dff3ff;
    }

    .p2 {
        margin-top: 50px;
    }

    .cw {
        margin: 0 10px 0 10px;
    }
}


@media (max-width: 574px) {
    .cwdh {
        padding: 50px 20px 50px 20px;
    }

    .ul-1 {
        margin-left: -38px;
        text-align: center;
        flex-direction: column;
    }    
}


@media (max-width: 375px) {
    .hp7 {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
}